[Unit]
Description=JMeter Service
After=network.target

[Service]
Type=simple
ExecStart=/home/administrator/run_jmeter.sh
Restart=always

[Install]
WantedBy=multi-user.target
