[Unit]
After=syslog.target
After=network.target[Service]
User=username
Type=simple

[Service]
WorkingDirectory=/opt/spring-boot-app
ExecStart=/usr/bin/java -javaagent:/opt/sfagent/sftrace/java/sftrace-java-agent.jar -Dsftrace.service_name=petclinic -jar /opt/spring-boot-app/target/spring-petclinic-3.1.0-SNAPSHOT.jar
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=petclinic

[Install]
WantedBy=multi-user.target
